.word__box {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.word {
    background-color: white;
    width: 480px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.3);
}

.icon__btn {
    border: none;
    background-color: #414175;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    transition: .2s;
}

.icon__btn i {
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.icon__btn:hover {
    transform: scale(.9);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
    align-items: center;
}

.word__text {
    font-size: 32px;
    color: #414175;
}

.type__box {
    color: #414175;
    opacity: .5;
    margin-bottom: 1rem;
}

.type__box .type {
    margin-right: .5rem
}

.definitions {
    color: #414175;
    margin-bottom: 1rem;
}

.example {
    background-color: aliceblue;
    color: #252541;
    border-left: 4px solid #414175;
    padding: .5rem 1rem;
}